<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI26_豆瓣.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E838EF231BC673AA00784CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E838EF3C1BC673AA00784CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E838EF471BC673AA00784CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
